{% extends 'formsaurus/skeleton.html' %}

{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}">&laquo;</a>  <i class="fas fa-code-branch"></i> Logic Jump</h1>
            <h5 class="text-muted">{{ question.question }}</h5>
        </div>
    </div>

    <!-- LOGIC JUMP TEMPLATE-->
    {% include 'formsaurus/manage/fragments/logic_group.html' with logic_group_id="logic_group_tmpl" logic_group_classes="d-none" %}

    <div class="row">
        <div class="col">
            <div id="logic_group_container">
                {% for logic_group in question.rules %}
                    {% include 'formsaurus/manage/fragments/logic_group.html' with logic_group_id="group" %}
                {% endfor %}
            </div>
           
            <button class="btn btn-secondary" id="add_jump"><i class="fas fa-plus"></i> Add Logic Jump</button>

            <!-- DEFAULT -->
            <div class="form-group mt-4">
                <label for="default"><small class="text-muted" id="default_label">{% if question.rules %}By <strong>default</strong> jump to{% else %}Always jump to{% endif %}</small></label>
                <select class="custom-select" name="default" required>
                    <option>Choose question</option>
                    {% for q in questions %}
                        {% if question != q %}
                            <option value="{{ q.id }}" {% if question.rules and question.next_question == q.id %}selected{% endif %}>{{ forloop.counter }}. {{ q.question }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mt-4">
                <button class="btn btn-primary" id="build-logic">Save</button>
                <a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% csrf_token %}
<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

{{ questions|json_script:"questions-data"}}
<script>

function is_is_not(container) {
    // IS|IS_NOT
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'match').appendTo(container)
    $('<option>').text('is').attr('value', 'IS').appendTo(select)
    $('<option>').text('is not').attr('value', 'ISN').appendTo(select)
}

function add_boolean_condition(container) {
    // MATCH
    is_is_not(container)
    // PATTERN
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'pattern').attr('required', true).appendTo(container)
    $('<option>').text('yes').attr('value', 'True').appendTo(select)
    $('<option>').text('no').attr('value', 'False').appendTo(select)
}

function add_choice_condition(container, question) {
    // MATCH
    is_is_not(container)
    // PATTERN
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'pattern').attr('required', true).appendTo(container)
    question.choices.forEach(choice => {
        $('<option>').text(choice.choice).attr('value', choice.id).appendTo(select)
    });
}

function add_number_condition(container, question) {
    // MATCH
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'match').attr('required', true).appendTo(container)
    $('<option>').text('is equal to').attr('value', 'EQ').appendTo(select)
    $('<option>').text('is not equal to').attr('value', 'NEQ').appendTo(select)
    $('<option>').text('is lower than').attr('value', 'LT').appendTo(select)
    $('<option>').text('is lower than or equal to').attr('value', 'LTOEQ').appendTo(select)
    $('<option>').text('is greater than').attr('value', 'GT').appendTo(select)
    $('<option>').text('is greater than or equal to').attr('value', 'GTOEQ').appendTo(select)
    // PATTERN
    min_value = 0
    max_value = null
    step = null
    if (question.type == 'OS' || question.type == 'R_') {
        min_value = question.parameters.start_at_one ? 1 : 0
        max_value = question.parameters.number_of_steps + min_value - 1
        step = 1
    }
    $('<input>')
        .attr('type', 'number')
        .attr('required', true)
        .addClass('form-control mt-2 w-100')
        .attr('min', min_value)
        .attr('max', max_value)
        .attr('step', step)
        .attr('name', 'pattern')
        .attr('value', min_value)
        .appendTo(container)
}

function add_text_condition(container, question) {
    // MATCH
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'match').attr('required', true).appendTo(container)
    $('<option>').text('is ').attr('value', 'EQ').appendTo(select)
    $('<option>').text('is not').attr('value', 'NEQ').appendTo(select)
    $('<option>').text('starts with').attr('value', 'SW').appendTo(select)
    $('<option>').text('ends with').attr('value', 'EW').appendTo(select)
    $('<option>').text('contains').attr('value', 'C').appendTo(select)
    $('<option>').text('does not contain').attr('value', 'DNC').appendTo(select)
    // PATTERN
    $('<input>').attr('type', 'text').addClass('form-control mt-2 w-100').attr('name', 'pattern').attr('required', true).appendTo(container)
}

function add_date_condition(container, question) {
    // MATCH
    select = $('<select>').addClass('custom-select mt-2').attr('name', 'match').attr('required', true).appendTo(container)
    $('<option>').text('is on').attr('value', 'IS').appendTo(select)
    $('<option>').text('is not on').attr('value', 'ISN').appendTo(select)
    $('<option>').text('is before').attr('value', 'ISB').appendTo(select)
    $('<option>').text('is before or on').attr('value', 'ISBOO').appendTo(select)
    $('<option>').text('is after').attr('value', 'ISA').appendTo(select)
    $('<option>').text('is after or on').attr('value', 'ISAOO').appendTo(select)
    // PATTERN
    input = $('<input>')
        .attr('type', 'date')
        .attr('required', true)
        .addClass('form-control mt-2 w-100')
        .attr('name', 'pattern')
        .appendTo(container)
    new Pikaday({
        field: input,
        format: question.parameters.format,
    })
}

function build_for_question(question, block) {
    container = block.find('.verb-answer')
    container.empty()
    switch (question.type) {
        case 'YN':
        case 'L_':
        case 'FU':
            add_boolean_condition(container, question)
            break;
        case 'MC':
        case 'PC':
            add_choice_condition(container, question)
            break;
        case 'OS':
        case 'R_':
        case 'N_':
            add_number_condition(container, question)
            break;
        case 'PN':
        case 'ST':
        case 'LT':
        case 'E_':
        case 'W_':
        case 'DD':
            add_text_condition(container, question)
            break;
        case 'D_':
            add_date_condition(container, question)
            break;
        default:
            break;
    }
}

function init_question(block) {
    selected = block.find('.if-question').find(':selected')
    qid = selected.val()
    question = question_map[qid]
    build_for_question(question, block)
}

function if_question_changed(evt, elt, block) {
    selected = elt.find(':selected')
    qid = selected.val()
    question = question_map[qid]
    build_for_question(question, block)
}

function init_block(block) {
    // Monitor .if-question!
    block.find('.if-question').change(function(evt) {
        if_question_changed(evt, $(this), block)
    })
    // Add selectors for the currently selected question
    init_question(block)
}

function build_logic() {
    var groups = []
    var container = $('#logic_group_container')
   
    $.each(container.find('.logic-group'), function(index, group) {
        var subcontainer = $(group).find('.block_container')
        var group = {
            'blocks': [],
            'jump_to': $(group).find('select[name="jump_to"]').val(),
        }
        $.each(subcontainer.find('.logic-block'), function(jindex, block) {
            var pattern = $(block).find('input[name="pattern"], select[name="pattern"]').val()
            var match = $(block).find('input[name="match"], select[name="match"]').val()
            var question = $(block).find('select.if-question').val()
            var b = {
                'question': question,
                'match': match,
                'pattern': pattern,
            }
            if ($(block).find('.operand').length) {
                var operand = $(block).find('.operand').val()
                b['operand'] = operand
            } else {
            }
            group['blocks'].push(b)
        })
        groups.push(group)
    })
    return {
        'groups': groups,
        'default_to': $($.find('select[name="default"]')).val(),
    }
}

function compute_default_label() {
    if ($('#logic_group_container').find('.logic-group').length) {
        $('#default_label').html('By <strong>default</strong> jump to')
    } else {
        $('#default_label').text('Always jump to')
    }
}

function create_new_block(block_tmpl, group) {
    var container = group.find('.block_container')
    var new_block = block_tmpl.clone().addClass('mt-4').appendTo(container)

    var remove = $('<a>').attr('href', '#').addClass('remove-block').prependTo(new_block)
    $('<i>').addClass('far fa-minus-circle').appendTo(remove)
    remove.click(function(evt) {
        new_block.remove()
    })

    var select = $('<select>').addClass('d-inline form-control mb-4 w-50 mr-3 operand').prependTo(new_block)
    $('<option>').attr('value', 'AND').text('AND').appendTo(select)
    $('<option>').attr('value', 'OR').text('OR').appendTo(select)

    init_block(new_block)
}

var question_map = {}
var count = 0;
$(function() {
    // Build question map
    questions = JSON.parse($('#questions-data').text());
    questions.forEach(question => {
        question_map[question.id] = question
    });

    $('#build-logic').click(function(evt) {
        var logic = build_logic();
        console.log(logic)
        if (confirm('Are you sure?')) {
            $.ajax({
                type: 'POST',
                url: '{% url "formsaurus_manage:question_logic" survey.id question.id %}', 
                headers: {'X-CSRFTOKEN': csrftoken},
                data: JSON.stringify(logic),
                contentType: 'application/json',
                success: function(data) {
                    console.log('Success')
                    window.location.href = '{% url "formsaurus_manage:survey_wizard" survey.id %}'
                },
                dataType: 'json',
            })
        }
    })

    // Initialize existing logic-group
    $.each($.find('.logic-group'), function(index, group) {
        group = $(group)
        if (group.hasClass('d-none')) {
            return
        }
        // Hook up .remove-group
        group.find('.remove-group').click(function(evt) {
            evt.preventDefault()
            group.remove()
            compute_default_label()
        })
        // Handle each logic-block inside logic-group
        $.each(group.find('.logic-block'), function(jindex, block) {
            block = $(block)
            block.find('.remove-block').click(function(evt) {
                evt.preventDefault()
                block.remove()
            })
            block.find('.if-question').change(function(evt) {
                if_question_changed(evt, $(this), block)
            })
        })
        var logic_block_tmpl = $(group.find('.logic-block')[0]).clone()
        // Handle .add-logic-block
        group.find('.add-logic-block').click(function(evt) {
            evt.preventDefault()
            create_new_block(logic_block_tmpl, group)
        })

    })

    $('#add_jump').click(function(evt) {
        count++;
        var group = $('#logic_group_tmpl').clone().attr('id', 'group'+count).removeClass('d-none').appendTo('#logic_group_container')
        
        group.find('.remove-group').click(function(evt) {
            evt.preventDefault()
            group.remove()
            compute_default_label()
        })
        
        var block = group.find('.logic-block')
        var logic_block_tmpl = block.clone()
        init_block(block)

        // Monitor add-logic-block
        group.find('.add-logic-block').click(function(evt) {
            evt.preventDefault()
            create_new_block(logic_block_tmpl, group)
        })
        compute_default_label()
    })
})
</script>
{% endblock %}