<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0">
        <a class="navbar-brand" href="{% url 'formsaurus_manage:manage' %}" title="formsaurus"><i class="fas fa-hippo mr-2"></i> formsaurus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'formsaurus_manage:surveys' %}">Forms</a>
              </li>
            </ul>
          </div>
    </nav>
</div>