{% extends 'formsaurus/skeleton.html' %}
{% load formsaurus %}
{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><a href="{% url 'formsaurus:survey_wizard' survey.id %}">&laquo;</a> {{ survey.name }}</h1>
        </div>
        <div class="col-1 pt-4">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="publish_switch" {% if survey.published %}checked disabled{% endif %}>
                <label class="custom-control-label" for="publish_switch">Published</label>
            </div>                

        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            {% if survey.submission_set.all %}
            <h2>Answers</h2>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Completed</th>
                        <th>Completed At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in survey.submission_set.all %} 
                    <tr>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" disabled id="completed_{{ submission.id }}" {% if submission.completed %}checked{% endif %}>
                                <label class="custom-control-label" for="completed_{{ submission.id }}"></label>
                            </div>                
                        </td>
                        
                        <td><a href="{% url 'formsaurus:submission' survey.id submission.id %}">{{ submission.completed_at }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}