{% extends 'formsaurus/skeleton.html' %}
{% load formsaurus %}
{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><a href="{% url 'formsaurus_manage:submissions' survey.id %}">&laquo;</a> {{ survey.name }}</h1>
        </div>
        <div class="col-1 pt-4">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="publish_switch" {% if survey.published %}checked disabled{% endif %}>
                <label class="custom-control-label" for="publish_switch">Published</label>
            </div>                

        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h2>Submission</h2>
            <p>{% if submission.completed %}Completed{% else %}Incomplete{% endif %} &mdash; {{ submission.completed_at }}</p>
        </div>
    </div>
    {% if submission.filledfield_set %}
    <div class="row">
        <div class="col">
            <h3>Hidden Fields</h3>
            <table class="table">
                {% for field in submission.filledfield_set.all %}
                <tr>
                    <td>{{ field.field.name }}</td>
                    <td>{{ field.value }}</td>
                </tr>
                {% endfor %}
            </table>            
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <h3>Answers</h3>
            <table class="table">
                <tbody>
                    {% for answer in submission.answers %} 
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ answer.question.question }}</td>
                        <td>
                            {% if answer.question.question_type == 'FU' %}
                                {% if answer.answer %}
                                <a download="{{ answer.answer.url|filename }}" href="{{ answer.answer.url }}">{{ answer.answer.url|filename }} <i class="ml-2 fas fa-external-link"></i></a>
                                {% endif %}
                            {% else %}
                            {{ answer.answer }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}