{% extends 'formsaurus/skeleton.html' %}

{% block content %}
{% include navbar_template_name %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Forms</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-2 mb-3">
            <a href="{% url 'formsaurus_manage:survey_add' %}" class="btn btn-primary btn-wide">Create Form</a>
        </div>
        <div class="col-sm">
            {% if surveys %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Published</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in surveys %}
                    <tr>
                        <td>
                            <a href="{% url 'formsaurus_manage:survey_wizard' form.id %}">{{ form.name }}</a>
                        </td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" disabled id="show-image-switch" {% if form.published %}checked{% endif %}>
                                <label class="custom-control-label" for="show-image-switch"></label>
                            </div>
                        </td>
                        <td>
                            {% if form.published %}
                                <a href="{% url 'formsaurus:survey' form.id %}" target="_blank"><i class="fas fa-external-link"></i></a>
                            {% else %}
                                <a href="{% url 'formsaurus_manage:survey_preview' form.id %}" target="_blank"><i class="fas fa-external-link"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p class="text-muted">You have not created any forms yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}