{% extends "formsaurus/skeleton.html" %}

{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <main class="container">
        <div class="row">
            <div class="col">
                <h2>Create Form</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                {% if survey %}
                <form method="POST" action="{% url 'formsaurus:survey_edit' survey.id %}">
                {% else %}
                <form method="POST" action="{% url 'formsaurus:survey_add' %}">
                {% endif %}
                    {% csrf_token %}
                    <input type="text" name="name" class="w-100 mb-2 title" placeholder="Customer Survey" autofocus required value="{{ survey.name }}"/>
                    <button type="submit" class="btn btn-primary btn-wide">{% if survey %}Save{% else %}Create{% endif %}</button>
                </form>
        </div>
    </main>
</div>
{% endblock %}