{% extends "formsaurus/skeleton.html" %}

{% block content %}
{% include navbar_template_name %}
<div class="container">
    <main class="container">
        <div class="row">
            <div class="col">
                {% if survey %}
                    <h2>Edit Form &laquo;{{ survey.name }}&raquo;</h2>
                {% else %}
                    <h2>Create Form</h2>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                {% if survey %}
                <form method="POST" action="{% url 'formsaurus_manage:survey_edit' survey.id %}">
                {% else %}
                <form method="POST" action="{% url 'formsaurus_manage:survey_add' %}">
                {% endif %}
                    {% csrf_token %}
                    <input type="text" name="name" class="w-100 mb-2 title" placeholder="Customer Survey" autofocus required value="{{ survey.name }}"/>
                    <button type="submit" class="btn btn-primary btn-wide">{% if survey %}Save{% else %}Create{% endif %}</button>
                    {% if survey %}
                        <a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}">Cancel</a>
                    {% else %}
                        <a href="{% url 'formsaurus_manage:surveys' %}">Cancel</a>
                    {% endif %}
                </form>
        </div>
    </main>
</div>
{% endblock %}