{% extends 'formsaurus/skeleton.html' %}
{% load formsaurus %}
{% block content %}
{% include navbar_template_name %}
<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col">
            <h4 class="m-0"><a href="{% url 'formsaurus_manage:surveys' %}">&laquo;</a> {{ survey.name }}</h4>
        </div>
        <div class="col-sm-1">
            <div class="dropdown">
                <a href="#" id="menu-survey" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                <div class="dropdown-menu" aria-labelledby="menu-survey">
                    {% if not survey.published %}
                        <a href="{% url 'formsaurus_manage:survey_edit' survey.id %}" class="dropdown-item">Edit Name</a>
                        <a href="{% url 'formsaurus_manage:survey_publish' survey.id %}" id="publish-link" class="dropdown-item">Publish Form</a>
                        <a href="{% url 'formsaurus_manage:toggle_show_branding' survey.id %}" id="show-branding" class="dropdown-item {% if not survey.can_disable_branding %}disabled{% endif %}">{% if survey.show_branding %}Hide Branding{% else %}Show Branding{% endif %}</a>
                        <a href="{% url 'formsaurus_manage:survey_delete' survey.id %}" id="delete-link" class="dropdown-item text-danger">Delete</a>
                    {% endif %}
                    {% if survey.wizard_actions_template_name %}
                        <div class="dropdown-divider"></div>
                        {% include survey.wizard_actions_template_name %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% if messages %}
        <!-- Messages -->
        <div class="row mt-2">
            <div class="col">
                {% for message in messages %}
                    <p class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% else %}alert-info{% endif %}">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Link -->
    <div class="row">
        <div class="col">
            <a href="{% url 'formsaurus:survey' survey.id %}" class="text-muted" target="_blank"><small>{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'formsaurus:survey' survey.id %}?{% if survey.hidden_fields %}{% for field in survey.hidden_fields %}{{ field.name }}={{ field.name }}&amp;{% endfor %}{% endif %}</small></a>
        </div>
    </div>

    {% if survey.published %}
        <!-- Tallies -->
        <div class="row mb-3 no-gutters">
            <div class="col-4 border-r"><p class="text-lg text-center m-0"><a href="{% url 'formsaurus_manage:submissions' survey.id %}">{{ submissions.count }}</a></p><p class="mt-0 mb-0 text-sm text-upper text-center">Answers</p></div>
            <div class="col-4 border-r pl-3"><p class="text-lg text-center m-0">{{ submissions.completed }}</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completed</p></div>
            <div class="col-4 pl-3"><p class="text-lg m-0 text-center">{{ submissions.ratio }}%</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completion Rate</p></div>
        </div>
    {% endif %}

    <!-- Fields & Questions -->
    <div class="row mt-3">
        {% if not survey.published  %}
        <div class="col-sm-2">
            <div class="row no-gutters">
                {% if not survey.published %}
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_add_hidden_field' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Field</a></div>
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_add_question' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Question</a></div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="col">
            {% if survey.hidden_fields %}
            <h2>Fields</h2>
            <table class="table">
                <tbody>
                    {% for field in survey.hidden_fields %}
                    <tr><td>{{ field.name }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No hidden fields in this form.</p>
            {% endif %}

            {% if survey.questions %}
            <h2>Questions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Question</th>
                        <th>Required</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in survey.questions %}
                        <tr>
                            <td class="text-muted">{{ forloop.counter }}</td>
                            <td class="text-muted">{{ question.type|question_type_name }}</td>
                            <td>{{ question.question }}</td>
                            <td>
                                {% if question.type != 'WS' and question.type != 'TS' and question.type != 'S_' %}
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" disabled id="show-image-switch" {% if question.required %}checked{% endif %}>
                                    <label class="custom-control-label" for="show-image-switch"></label>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if survey.published %}
                                {% else %}
                                <div class="d-block d-sm-none">
                                    <div class="dropdown dropleft">
                                        <a href="#" id="menu-{{ invoice.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
                                        <div class="dropdown-menu" aria-labelledby="menu-{{ invoice.id }}">
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:survey_edit_question' survey.id question.id %}">Edit</a>
                                            <a class="dropdown-item text-danger" href="{% url 'formsaurus_manage:delete_question' survey.id question.id %}" onclick="return confirm('Are you sure you want to delete {{ question.question }}?');">Delete</a>
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:question_up' survey.id question.id %}">Move Up</a>
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:question_down' survey.id question.id %}">Move Down</a>
                                            {% if question.type != 'WS' and question.type != 'TS' and question.type != 'S_' %}
                                                {% if survey.logic_enabled %}
                                                    <a class="dropdown-item" href="{% url 'formsaurus_manage:question_logic' survey.id question.id %}">Edit Logic</a>
                                                {% else %}
                                                    <span class="dropdown-item">Edit Logic</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none d-sm-block">
                                    <a href="{% url 'formsaurus_manage:survey_edit_question' survey.id question.id %}"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'formsaurus_manage:delete_question' survey.id question.id %}" onclick="return confirm('Are you sure you want to delete {{ question.question }}?');"><i class="fas fa-trash"></i></a>
                                    <a href="{% url 'formsaurus_manage:question_up' survey.id question.id %}"><i class="fas fa-angle-up"></i></a>
                                    <a href="{% url 'formsaurus_manage:question_down' survey.id question.id %}"><i class="fas fa-angle-down"></i></a>
                                    {% if question.type != 'WS' and question.type != 'TS' and question.type != 'S_' %}
                                        {% if survey.logic_enabled %}
                                            <a href="{% url 'formsaurus_manage:question_logic' survey.id question.id %}"><i class="fas fa-code-branch"></i></a>
                                        {% else %}
                                            <i class="fas fa-code-branch text-muted"></i>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No questions in this form.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% csrf_token %}
<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
<script>
$(function() {
    $('#publish-link').click(function(evt) {
        return confirm('Once published you will not be able to make any changes, are you sure you want to publish this form?')
    })
    $('#delete-link').click(function(evt) {
        return confirm('Are you sure you want to delete this form?')
    })

    $('#show-branding').click(function(evt) {
        evt.preventDefault()
        var element = $(this)
        $.ajax({
            type: 'POST',
            url: element.attr('href'),
            headers: {'X-CSRFTOKEN': csrftoken},
            success: function(data) {
                console.log('Success', data)
                if (data.show_branding) {
                    element.text = 'Hide Branding'
                } else {
                    element.text = 'Show Branding'
                }
            },
        })
    })
})
</script>
{% endblock %}