{% extends 'formsaurus/skeleton.html' %}
{% load static %}
{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                <a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}">&laquo;</a>
                {% if question %}
                    Edit <button type="button" class="btn btn-secondary btn-wide" disabled>{{ type_name }}</button>
                {% else %}
                    Add
                    {% if question %}
                    <button type="button" class="btn btn-secondary btn-wide" disabled>{{ type_name }}</button>
                    {% else %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-wide dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">{{ type_name }}</button>
                        <div class="dropdown-menu">
                            {% for type in types.items %}
                            <a class="dropdown-item"
                                href="{% url 'formsaurus_manage:survey_add_question' survey.id type.0 %}">{{ type.1.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    Question
                    {% endif %}        
                {% endif %} 
            </h4>
            <p class="m-0"><small class="text-muted">Survey: {{ survey.name }}</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if question %}
                <form method="POST" action="{% url 'formsaurus_manage:survey_edit_question' survey.id question.id %}">
                    <input type="hidden" name="question_type" value="{{ question.question_type }}">
            {% else %}
                <form method="POST" action="{% url 'formsaurus_manage:survey_add_question' survey.id type %}">
                    <input type="hidden" name="question_type" value="{{ type }}">
            {% endif %}
                {% csrf_token %}

                <fieldset class="bd-callout">
                    <div class="form-group ">
                        <input type="text" name="question" class="w-100 mb-2 title" placeholder="Question" autofocus
                            required value="{{ question.question }}" />
                        <label for="button_label"><small class="text-muted">Question</small></label>
                    </div>
                </fieldset>

                <!-- Common Parameters to all Question Types -->
                <div class="common-question-parameters bd-callout">
                    <div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="show-description-switch"
                            {% if question.description %}checked{% endif %}>
                            <label class="custom-control-label" for="show-description-switch">Description</label>
                        </div>
                        
                        <div id="show-description-content" class="form-group {% if not question.description %}d-none{% endif %}">
                            <input type="text" name="description" class="w-100 mb-2 title" placeholder="Description"
                                value="{{ question.description }}" />
                        </div>
                    </div>

                    {% if type != 'WS' and type != 'TS' and type != 'S_' %}
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="required_switch" name="required"
                        {% if question.required %}checked{% endif %}>
                    <label class="custom-control-label" for="required_switch">Required</label>
                </div>
                {% endif %}


                <!-- Image -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="show-image-switch"
                        {% if question.parameters.image_url %}checked{% endif %}>
                    <label class="custom-control-label" for="show-image-switch">Show Image</label>
                </div>

                <div class="form-group mt-3 {% if not question.parameters.image_url %}d-none{% endif %}" id="show-image-content">                            
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                {% if question.parameters.image_url %}
                                    <a href="#" data-toggle="modal" data-target="#imageModal"><img class="img-fluid" style="height:26px" src="{{ question.parameters.image_url }}"/></a>
                                    <a href="#" data-target="clearImage"><i class="ml-3 pt-1 fas fa-times"></i></a>
                                {% else %}
                                    {% if has_unsplash or has_tenor %}
                                        <a href="#" data-toggle="modal" data-target="#imageModal" style="text-decoration: none!important;">
                                            <i class="pt-1 far fa-image mr-2"></i>
                                            <small><i class="fas fa-plus"></i></small>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        <input type="url" id="image-url" name="image_url" class="form-control" placeholder="https://unsplash.com/" {% if question.parameters.image_url %}value="{{ question.parameters.image_url }}"{% endif %}>
                    </div>
                </div>

                <!-- Video -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="show-video-switch"
                        {% if question.parameters.video_url %}checked{% endif %}>
                    <label class="custom-control-label" for="show-video-switch">Show Video</label>
                </div>

                <div class="form-group {% if not question.parameters.video_url %}d-none{% endif %}"
                    id="show_video_content">
                    <input type="url" name="video_url" id="video_url" class="w-100 mb-2 title" placeholder="https://youtube.com/"
                        {% if question.parameters.video_url %}value="{{ question.parameters.video_url }}"{% endif %} />
                    <label for="button_label"><small class="text-muted">Video URL</small></label>
                    {% if has_pexels %}
                    <small><a href="#" data-toggle="modal" data-target="#videoModal">Search Videos</a></small>
                    {% endif %}
                </div>

                <!-- Image/Video Positioning -->
                <fieldset class="p-3 img-thumbnail mt-2 bg-light {% if not question.parameters.video_url and not question.parameters.image_url %}d-none{% endif %}" id="media-positioning">
                    <div class="form-group">
                        <label><small class="text-muted">Image Positioning</small></label>
                        <select class="custom-select" name="orientation">
                            <option value="S" {% if question.parameters.orientation == 'S' %}selected{% endif %}>Stack</option>
                            <option value="F" {% if question.parameters.orientation == 'F' %}selected{% endif %}>Float</option>
                            <option value="2" {% if question.parameters.orientation == '2' %}selected{% endif %}>Split</option>
                            <option value="B" {% if question.parameters.orientation == 'B' %}selected{% endif %}>Background</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label><small class="text-muted">X Position</small></label>
                                <input type="range" class="form-control-range" min="0" max="100" step="1" name="position_x" value="{{ question.parameters.position_x }}">
                            </div>          
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label><small class="text-muted">X Position</small></label>
                                <input type="range" class="form-control-range" min="0" max="100" step="1" name="position_y" value="{{ question.parameters.position_y }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><small class="text-muted">Opacity</small></label>
                        <input type="range" class="form-control-range" min="0" max="100" step="1" name="opacity" value="{% if question.parameters.opacity %}{{ question.parameters.opacity }}{% else %}100{% endif %}">
                    </div>
                </fieldset>
                </div>
                <!-- QUESTION TYPE PARAMETERS -->                
                {% if type == 'WS' %}
                <!-- Welcome Screen Parameters -->
                <fieldset class="bd-callout">
                    <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Welcome Screen</strong></small></p>
                    <div class="form-group">
                        <input type="text" name="button_label" class="w-100 mb-2 title" placeholder="Go" required
                            value="{%if question %}{{ question.parameters.button_label }}{% else %}Go{% endif %}" />
                        <label for="button_label"><small class="text-muted">Button Label</small></label>
                    </div>
                </fieldset>
                {% elif type == 'TS' %}
                <!-- Thank You Screen Parameteres -->
                <fieldset class="bd-callout">
                    <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Thank You Screen</strong></small></p>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ts_show_button_switch" name="show_button"
                            {% if question.parameters.show_button %}checked{% endif %}>
                        <label class="custom-control-label" for="ts_show_button_switch">Show Button</label>
                    </div>
                    <div {% if not question.parameters.show_button %}class="d-none" {% endif %} id="ts_show_button_content">
                        <div class="form-group">
                            <input type="text" id="ts_button_label" name="button_label" class="w-100 mb-2 title"
                                value="{% if question %}{{ question.parameters.button_label }}{% else %}Done{% endif %}"
                                placeholder="Done" />
                            <label for="button_label"><small class="text-muted">Button Label</small></label>
                        </div>
                        <div class="form-group">
                            <input type="url" id="ts_button_link" name="button_link" class="w-100 mb-2 title"
                                placeholder="https://example.com" {% if question.parameters.show_button %}value="{{ question.parameters.button_link }}"{% endif %} />
                            <label for="button_link"><small class="text-muted">Button Link</small></label>
                        </div>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="show_social_media_switch"
                            name="show_social_media" {% if question.parameters.show_social_media %}checked{% endif %}>
                        <label class="custom-control-label" for="show_social_media_switch">Show Social Media</label>
                    </div>
                </fieldset>
                {% elif type == 'MC' %}
                <!-- Multiple Choice Parameters -->
                <fieldset class="bd-callout">
                    <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Multiple Choice</strong></small></p>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="multiple_selection_switch"
                            name="multiple_selection" {% if question.parameters.multiple_selection %}checked{% endif %}>
                        <label class="custom-control-label" for="multiple_selection_switch">Multiple Selection</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="randomize_switch" name="randomize"
                            {% if question.parameters.randomize %}checked{% endif %}>
                        <label class="custom-control-label" for="randomize_switch">Randomize</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="other_option_switch" name="other_option"
                            {% if question.parameters.other_option %}checked{% endif %}>
                        <label class="custom-control-label" for="other_option_switch">Other Option</label>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            {% if question %}
                                {% for choice in question.choices %}
                                    {% if choice.id %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ choice.letter }}.</span>
                                        </div>
                                        <input type="text" data-letter="{{ choice.letter }}" class="form-control mc-choice" placeholder="Choice" value="{{ choice.choice }}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mc-choice-clear"><i class="fas fa-times"></i></span>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">A.</span>
                                    </div>
                                    <input type="text" data-letter="A" class="form-control mc-choice" placeholder="Choice">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text mc-choice-clear"><i class="fas fa-times"></i></span>
                                    </div>
                                </div>                        
                            {% endif %}
                        </div>
                        <a href="#" class="mc-choice-add ml-1"><small><i class="fas fa-plus"></i> Add Choice</small></a>
                    </div>
                </fieldset>
                {% elif type == 'PN' %}
                <!-- Phone Number Parameters -->
                <fieldset class="bd-callout">
                    <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Phone Number</strong></small></p>
                    <input type="hidden" name="default_country_code" value="{% if question %}{{ question.parameters.default_country_code }}{% endif %}"/>
                    <div id="country-code"></div>
                    <div class="form-group">
                        <label for="default_country_code"><small class="text-muted">Default Country Code</small></label>
                    </div>
                </fieldset>
                {% elif type == 'ST' %}
                <!-- Short Text Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Short Text</strong></small></p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" name="limit_character" class="custom-control-input"
                        id="st_limit_character_switch" {% if question.parameters.limit_character %}checked{% endif %}>
                    <label class="custom-control-label" for="st_limit_character_switch">Limit Character</label>
                </div>
                <div class="form-group {% if not question.parameters.limit_character %}d-none{% endif %}"
                    id="st_limit_character_content">
                    <input type="number" min="1" step="1" name="limit" class="w-100 mb-2 title"
                        value="{% if question %}{{ question.parameters.limit }}{% else %}25{% endif %}" placeholder="25"
                        id="st_limit" />
                    <label for="st_limit"><small class="text-muted">Limit</small></label>
                </div>
                </fieldset>
                {% elif type == 'LT' %}
                <!-- Long Text Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Long Text</strong></small></p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" name="limit_character" class="custom-control-input"
                        id="lt_limit_character_switch" {% if question.parameters.limit_character %}checked{% endif %}>
                    <label class="custom-control-label" for="lt_limit_character_switch">Limit Character</label>
                </div>
                <div class="form-group {% if not question.parameters.limit_character %}d-none{% endif %}"
                    id="lt_limit_character_content">
                    <input type="number" min="1" step="1" name="limit" class="w-100 mb-2 title"
                        value="{% if question %}{{ question.parameters.limit }}{% else %}250{% endif %}"
                        placeholder="250" id="lt_limit" />
                    <label for="lt_limit"><small class="text-muted">Limit</small></label>
                </div>
            </fieldset>
                {% elif type == 'S_' %}
                <!-- Statement Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Statement</strong></small></p>
                <div class="form-group">
                    <input type="text" name="button_label" class="w-100 mb-2 title"
                        value="{% if question %}{{ question.parameters.button_label }}{% else %}Next{% endif %}"
                        placeholder="Next" required />
                    <label for="button_label"><small class="text-muted">Button Label</small></label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="s_show_quotation_mark_switch"
                        name="show_quotation_mark" {% if question.parameters.show_quotation_mark %}checked{% endif %}>
                    <label class="custom-control-label" for="s_show_quotation_mark_switch">Show Quotation Mark</label>
                </div>
            </fieldset>
                {% elif type == 'PC' %}
                <!-- Picture Choice Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Picture Choice</strong></small></p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="multiple_selection_switch"
                        name="multiple_selection" {% if question.parameters.multiple_selection %}checked{% endif %}>
                    <label class="custom-control-label" for="multiple_selection_switch">Multiple Selection</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="randomize_switch" name="randomize"
                        {% if question.parameters.randomize %}checked{% endif %}>
                    <label class="custom-control-label" for="randomize_switch">Randomize</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="other_option_switch" name="other_option"
                        {% if question.parameters.other_option %}checked{% endif %}>
                    <label class="custom-control-label" for="other_option_switch">Other Option</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="pc_show_labels_switch" name="show_labels"
                        {% if question.parameters.show_labels %}checked{% endif %}>
                    <label class="custom-control-label" for="pc_show_labels_switch">Show Labels</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="pc_supersize_switch" name="supersize"
                        {% if question.parameters.supersize %}checked{% endif %}>
                    <label class="custom-control-label" for="pc_supersize_switch">Supersize</label>
                </div>
                <div class="mt-4">
                    {% if question %}
                    {% for choice in question.choices %}
                    <div class="form-group">
                        <input type="url" name="choice" class="w-100 mb-2 title pc_choice"
                            placeholder="https://unsplash.com/..." value="{{ choice.image_url }}" />
                        <label for="choice"><small class="text-muted">Choice</small></label>
                        {% if has_unsplash %}
                        <small><a href="#" data-toggle="modal" data-target="#imageModal">Search Images</a></small>
                        {% endif %}

                        <input type="text" name="label" class="w-100 mb-2 title pc_label" placeholder="Kitten"
                            value="{{ choice.choice }}" />
                        {% if has_unsplash %}
                            <small><a href="#" data-toggle="modal" data-target="#imageModal">Search Images</a></small>
                        {% endif %}

                        <label for="label"><small class="text-muted">Label</small></label>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="form-group">
                        <input type="url" name="choice" class="w-100 mb-2 title pc_choice"
                            placeholder="https://unsplash.com/..." />
                        <label for="choice"><small class="text-muted">Choice</small></label>
                        {% if has_unsplash %}
                        <small><a href="#" data-toggle="modal" data-target="#imageModal">Search Images</a></small>
                        {% endif %}

                        <input type="text" name="label" class="w-100 mb-2 title pc_label" placeholder="Kitten" />
                        <label for="label"><small class="text-muted">Label</small></label>
                    </div>
                    {% endif %}

                </div>
            </fieldset>
                {% elif type == 'YN' %}
                {% elif type == 'E_' %}
                {% elif type == 'OS' %}
                <!-- Opinion Scale Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Opinion Scale</strong></small></p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="os_start_at_one_switch" name="start_at_one"
                        {% if question.parameters.start_at_one %}checked{% endif %}>
                    <label class="custom-control-label" for="os_start_at_one_switch">Start at One</label>
                </div>
                <div class="form-group">
                    <input type="number" min="1" step="1" name="number_of_steps" class="w-100 mb-2 title"
                        value="{% if question %}{{ question.parameters.number_of_steps }}{% else %}10{% endif %}"
                        placeholder="10" required />
                    <label for="number_of_steps"><small class="text-muted">Number of Steps</small></label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="os_show_labels_switch" name="show_labels"
                        {%if question.parameters.show_labels %}checked{% endif %}>
                    <label class="custom-control-label" for="os_show_labels_switch">Show Labels</label>
                </div>
                <div id="os_show_labels_content" {% if not question.parameters.show_labels %}class="d-none" {% endif %}>
                    <div class="form-group">
                        <input type="text" id="os_left_label" name="left_label" class="w-100 mb-2 title"
                            placeholder="Left" {% if question.parameters.left_label %}value="{{ question.parameters.left_label }}"{% endif %} />
                        <label for="left_label"><small class="text-muted">Left Label</small></label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="os_center_label" name="center_label" class="w-100 mb-2 title"
                            placeholder="Center" {% if question.parameters.center_label %}value="{{ question.parameters.center_label }}"{% endif %} />
                        <label for="center_label"><small class="text-muted">Center Label</small></label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="os_right_label" name="right_label" class="w-100 mb-2 title"
                            placeholder="Right" {% if question.parameters.right_label %}value="{{ question.parameters.right_label }}"{% endif %} />
                        <label for="right_label"><small class="text-muted">Right Label</small></label>
                    </div>
                </div>
            </fieldset>
                {% elif type == 'R_' %}
                <!-- Rating Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Rating</strong></small></p>
                <div class="form-group">
                    <input type="number" min="1" step="1" name="number_of_steps" class="w-100 mb-2 title"
                        placeholder="5"
                        value="{% if question %}{{ question.parameters.number_of_steps }}{% else %}5{% endif %}"
                        required />
                    <label for="number_of_steps"><small class="text-muted">Number of Steps</small></label>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="shape">
                        <option {% if not question or question.parameters.shape == 'S_' %}selected{% endif %}
                            value="S_"><i class="fas fa-star"></i> Star</option>
                        <option {% if question.parameters.shape == 'T_' %}selected{% endif %} value="T_"><i
                                class="fas fa-thumbs-up"></i> Thumbs Up</option>
                    </select>
                    <label for="shape"><small class="text-muted">Shape</small></label>
                </div>
            </fieldset>
                {% elif type == 'D_' %}
                <!-- Date Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Date</strong></small></p>
                <div class="form-group">
                    <select class="custom-select" name="date_format">
                        <option {% if not question or question.parameters.date_format == 'A' %}selected{% endif %}
                            value="A">YYYYMMDD</option>
                        <option {% if question.parameters.date_format == 'B' %}selected{% endif %} value="B">DDMMYYYYMM
                        </option>
                        <option {% if question.parameters.date_format == 'C' %}selected{% endif %} value="C">MMDDYYYYY
                        </option>
                    </select>
                    <label for="date_format"><small class="text-muted">Date Format</small></label>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="date_separator">
                        <option {% if not question or question.parameters.date_separator == '-' %}selected{% endif %}
                            value="-">-</option>
                        <option {% if question.parameters.date_separator == '.' %}selected{% endif %} value=".">.
                        </option>
                        <option {% if question.parameters.date_separator == '/' %}selected{% endif %} value="/">/
                        </option>
                    </select>
                    <label for="date_separator"><small class="text-muted">Date Separator</small></label>
                </div>
            </fieldset>
                {% elif type == 'N_' %}
                <!-- Number Parameters -->
                <fieldset class="bd-callout">
                <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Number</strong></small></p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="n_enable_min_switch" name="enable_min"
                        {% if question.parameters.enable_min %}checked{% endif %}>
                    <label class="custom-control-label" for="n_enable_min_switch">Enable Minimum Value</label>
                </div>
                <div class="form-group {% if not question.parameters.enable_min %}d-none{% endif %}"
                    id="n_enable_min_content">
                    <input type="number" id="n_min_value" name="min_value" class="w-100 mb-2 title" placeholder="0"
                        value="{{ question.parameters.min_value }}" />
                    <label for="min_value"><small class="text-muted">Minimum Value</small></label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="n_enable_max_switch" name="enable_max"
                        {% if question.parameters.enable_max %}checked{% endif %}>
                    <label class="custom-control-label" for="n_enable_max_switch">Enable Maximum Value</label>
                </div>
                <div class="form-group {% if not question.parameters.enable_max %}d-none{% endif %}"
                    id="n_enable_max_content">
                    <input type="number" id="n_max_value" name="max_value" class="w-100 mb-2 title" placeholder="99"
                        value="{{ question.parameters.max_value }}" />
                    <label for="max_value"><small class="text-muted">Maximum Value</small></label>
                </div>
            </fieldset>
                {% elif type == 'DD' %}
                <!-- Dropdown Parameters -->
                <fieldset class="bd-callout">
                    <p class="mt-1 mb-3"><small class="text-muted text-upper"><strong>Dropdown</strong></small></p>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="dd_randomize" name="randomize"
                            {% if question.parameters.alphabetical %}disabled{% endif %}
                            {% if question.parameters.randomize %}checked{% endif %}>
                        <label class="custom-control-label" for="dd_randomize">Randomize</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="dd_alphabetical" name="alphabetical"
                            {% if question.parameters.randomize %}disabled{% endif %}
                            {% if question.parameters.alphabetical %}checked{% endif %}>
                        <label class="custom-control-label" for="dd_alphabetical">Alphabetical</label>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                            {% if question %}
                                {% for choice in question.choice_set.all %}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ choice.letter }}.</span>
                                        </div>
                                        <input type="text" data-letter="{{ choice.letter }}" class="form-control mc-choice" placeholder="Choice" value="{{ choice.choice }}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text mc-choice-clear"><i class="fas fa-times"></i></span>
                                        </div>
                                    </div>
                                    {% endfor %}
                            {% else %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">A.</span>
                                </div>
                                <input type="text" data-letter="A" class="form-control mc-choice" placeholder="Choice">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mc-choice-clear"><i class="fas fa-times"></i></span>
                                </div>
                            </div>                        
                            {% endif %}
                        </div>
                        <a href="#" class="mc-choice-add ml-1"><small><i class="fas fa-plus"></i> Add Choice</small></a>
                    </div>
                </fieldset>
                {% elif type == 'L_' %}
                {% elif type == 'FU' %}
                {% elif type == 'P_' %}
                {% elif type == 'W_' %}
                {% endif %}
 
                <div class="form-group mt-3">
                    <input type="submit" class="btn btn-primary btn-lg btn-wide" value="{% if question %}Save{% else %}Add{% endif %} Question">
                    <a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}" class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'formsaurus/manage/image_modal.html' %}
{% include 'formsaurus/manage/video_modal.html' %}
{% endblock %}

{% block javascript %}
<script src="{% static 'intl-tel-input/js/intlTelInput-jquery.min.js' %}"></script>

<script>
    $.fn.enterKey = function (callback) {
        $(this).keypress(function (evt) {
            keycode = evt.keycode ? evt.keycode : evt.which
            if (keycode == 13) {
                callback.call(this, evt)
            }
        })
    }

    class ImageSelector {
        constructor(element, searcher) {
            var obj = this

            this.element = element
            this.searcher = searcher
            this.input = element.find('input[type="url"]').first()
            this.previewContainer = element.find('.input-group-text').last()
            this.modalClicker = element.find('a[data-target="#imageModal"]')
            this.clearClicker = element.find('a[data-target="clearImage"]')
            this.showingModal = false
            this.modalClicker.click(function(evt) {
                evt.preventDefault()
                obj.onShowModal()
            })
            this.clearClicker.click(function(evt) {
                evt.preventDefault()
                obj.onClear()
            })
            $('#imageModal').on('hidden.bs.modal', function(evt) {
                console.log('Hiding modal', obj)
                obj.showingModal = false
                obj.searcher.deactivate(obj)
            })

            this.input.change(function(evt) {
                console.log('URL changed' + obj.input.val())
            })
            console.log('Configured Image Selector')
            console.log('\tInput', this.input)
            console.log('\tPreview Container', this.previewContainer)
            console.log('\tModal Clicker', this.modalClicker)
            console.log('\tClear Clicker', this.clearClicker)
        }

        get url() {
            return this.input.val()
        }

        set url(url) {
            console.log('set url(' + url + ')')
            this.input.val(url)
            if (url == "") {
                this.previewContainer.empty()
                this.buildEmpty()
            } else {
                this.previewContainer.empty()
                this.buildPreview()
            }
        }

        onShowModal() {
            this.showingModal = true
            this.searcher.activate(this)
        }

        onClear() {
            console.log('Clear clicked')
            this.url = ''
        }

        buildPreview() {
            var obj = this
            this.modalClicker = $('<a>').attr('href', '#').attr('data-toggle', 'modal').attr('data-target', '#imageModal').appendTo(this.previewContainer)
            $('<img>').addClass('img-fluid').attr('style', 'height: 26px').attr('src', this.url).appendTo(this.modalClicker)
            this.modalClicker.click(function(evt) {
                evt.preventDefault()
                obj.onShowModal()
            })
            this.clearClicker = $('<a>').attr('href', '#').attr('data-target', 'clearImage').appendTo(this.previewContainer)
            this.clearClicker.click(function(evt) {
                evt.preventDefault()
                obj.onClear()
            })
            $('<i>').addClass('ml-3 pt-1 fas fa-times').appendTo(this.clearClicker)
        }

        buildEmpty() {
            var obj = this
            this.clearClicker = null
            this.modalClicker = $('<a>').attr('href', '#').attr('data-toggle', 'modal').attr('data-target', '#imageModal').attr('style', 'text-decoration: none!important;').appendTo(this.previewContainer)
            this.modalClicker.click(function(evt) {
                evt.preventDefault()
                obj.onShowModal()
            })
            $('<i>').addClass('far fa-image mr-2').appendTo(this.modalClicker)
            $('<i>').addClass('fas fa-plus').appendTo($('<small>').appendTo(this.modalClicker))
        }
    }

    class ImageSearcher {
        constructor() {
            var obj = this
            $('#image_search_query').enterKey(function(evt) {
                var backend = $('#image_search_tabs').find('a.active').attr('data-backend')
                obj.searchImages($(this).val(), 1, 9, backend)
            })
            $('#image_search_query_button').click(function(evt) {
                var backend = $('#image_search_tabs').find('a.active').attr('data-backend')
                obj.searchImages($('#image_search_query').val(), 1, 9, backend)
            })
            $('#image_search_tabs').find('a').click(function(evt) {
                $('#image_search_tabs').find('a').removeClass('active')
                $(this).addClass('active')
                obj.clear()
            })
            $('#imageModal').on('shown.bs.modal', function(evt) {
                $('#image_search_query').focus()
            })

        }

        searchImages(term, page, per_page, backend) {
            console.log('Search ' + term + ' on ' + backend + ' Page:' + page + ' Per Page: ' + per_page)
            this.clear()
            var url = "{% url 'formsaurus_manage:unsplash_search' %}?per_page=" + per_page + "&page=" + page + "&q=" + term
            if (backend == 'tenor') {
                url = "{% url 'formsaurus_manage:tenor_search' %}?per_page=" + per_page + "&q=" + term
            }
            var obj = this
            console.log(url)
            $.get(url, function (data) {
                console.log(data)
                if (data.total_pages > 0) {
                    $('#image_search_paging').removeClass('d-none')
                    $('#image_search_prev').click(function (evt) {
                        if (page > 1) {
                            obj.searchImages(term, page - 1, per_page, backend)
                        }
                    })
                    $('#image_search_next').click(function (evt) {
                        if (page < data.total_pages - 1) {
                            obj.searchImages(term, page + 1, per_page, backend)
                        }
                    })
                }
                data.results.forEach(function (result) {
                    var bg_url, target_url
                    if (backend == 'tenor') {
                        bg_url = result.media[0].gif.url
                        target_url = result.media[0].gif.url
                    } else {
                        bg_url = result.urls.small
                        target_url = result.urls.raw
                    }
                    var img = $('<div/>').addClass('img-thumbnail m-1').attr('style', 'width: 240px; height: 150px; background-image: url("' + bg_url + '"); background-position: center; background-repeat: no-repeat; background-size: cover;')
                    var a = $('<a/>').attr('href', '#').attr('data-url', target_url)
                    a.click(function (evt) {
                        obj.selectImage($(this).attr('data-url'))
                        $('#imageModal').modal('hide')
                    })
                    a.append(img)
                    $('#image_search_results').append(a)
                })
            })
        }

        activate(selector) {
            this.selector = selector
        }

        deactivate(selector) {
            if (this.selector == selector) {
                this.selector = null
            }
        }

        clear() {
            $('#image_search_results').empty()
            $('#image_search_paging').addClass('d-none')
            $('#image_search_prev').off()
            $('#image_search_next').off()
        }

        selectImage(url) {
            console.log('Selected image ' + url)
            if (this.selector) {
                this.selector.url = url
            }
        }
    }

    class CountryCode {
        constructor(container) {
            var obj = this
            this.container = container
            this.input = $('input[name="default_country_code"]')
            if (this.input.val() != "") {
                this.countryCode = this.input.val().toLowerCase()
                console.log('Using previous code ' + this.countryCode)
                this._buildDropdown().appendTo(this.container)
            } else {
                console.log('Looking up country')
                $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                    console.log('GEOIP', resp)
                    obj.countryCode = ((resp && resp.country) ? resp.country : "").toLowerCase();
                    console.log('Country ' + obj.countryCode)
                    obj._buildDropdown().appendTo(obj.container)
                });
            }
        }

        _buildDropdown() {
            var obj = this
            var countryData = window.intlTelInputGlobals.getCountryData();
            var initialCountry = countryData[0]
            $.each(countryData, function(index, country) {
                if (country.iso2 == obj.countryCode) {
                    initialCountry = country
                }
            })
            console.log('initial Country ' + this.countryCode, initialCountry)
            
            var group = $('<div>').addClass('btn-group')
            this.current = $('<button>').attr('type', 'button').addClass('btn btn-light dropdown-toggle').attr('data-toggle', 'dropdown').attr('aria-haspopup', true).attr('aria-expanded', false).appendTo(group)
            this._countryLine(initialCountry, this.current)
            
            
            var dropdown = $('<div>').addClass('dropdown-menu').attr('style', 'max-height: 200px; overflow-y: scroll;').appendTo(group)
            
            console.log(countryData)
            $.each(countryData, function(index, country) {
                var atag = $('<a>').addClass('dropdown-item').attr('href', '#').appendTo(dropdown)
                obj._countryLine(country, atag)
                atag.click(function(evt) {
                    evt.preventDefault()
                    obj.selectCountry(country)
                })
            })
            return group
        }

        _countryLine(country, container) {
            var box = $('<div>').addClass('mr-2').attr('style', 'display: inline-block').appendTo(container)
            $('<div>').addClass('iti__flag iti__' + country.iso2).appendTo(box)
            $('<span>').text(country.name + ' +' + country.dialCode ).appendTo(container)
        }

        selectCountry(country) {
            console.log('Selected', country)
            this.current.empty()
            this._countryLine(country, this.current)
            this.input.val(country.iso2)
        }
    }

    $(function () {
        var imgsrch = new ImageSearcher()
        var imgslctr = new ImageSelector($('#show-image-content'), imgsrch)

        // description
        $('#show-description-switch').change(function(evt) {
            if ($(this).prop('checked')) {
                $('#show-description-content').removeClass('d-none')
                $('#show-description-content').find('input[type="text"]').focus()
            } else {
                $('#show-description-content').addClass('d-none')
                $('#show-description-content').find('input[type="text"]').val('')
            }
        })
        // image_url
        $('#show-image-switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#show-image-content').removeClass('d-none');
                $('#show-video-switch').prop('disabled', true)
                $('#media-positioning').removeClass('d-none')
                $('#image-url').focus()
            } else {
                $('#show-image-content').addClass('d-none');
                $('#show-video-switch').prop('disabled', false)
                $('#media-positioning').addClass('d-none')
            }
        })
        // video_url
        $('#show-video-switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#show_video_content').removeClass('d-none');
                $('#show-image-switch').prop('disabled', true)
                $('#media-positioning').removeClass('d-none')
            } else {
                $('#show_video_content').addClass('d-none');
                $('#show-image-switch').prop('disabled', false)
                $('#media-positioning').addClass('d-none')
            }
        })

        // TS
        $('#ts_show_button_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#ts_show_button_content').removeClass('d-none');
                $('#ts_button_label').prop('required', true)
                $('#ts_button_link').prop('required', true)
            } else {
                $('#ts_show_button_content').addClass('d-none');
                $('#ts_button_label').prop('required', false)
                $('#ts_button_link').prop('required', false)
            }
        })
        // MC
        $('.mc-choice').enterKey(addChoice)
        $('.mc-choice-clear').click(clearChoice)
        $('.mc-choice-add').click(function(evt) {
            evt.preventDefault()
            addChoiceImpl($(this).parent().find('input[type="text"]').last())
        })

        // ST
        $('#st_limit_character_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#st_limit_character_content').removeClass('d-none');
                $('#st_limit').prop('required', true)
            } else {
                $('#st_limit_character_content').addClass('d-none');
                $('#st_limit').prop('required', false)
            }
        })
        // LT
        $('#lt_limit_character_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#lt_limit_character_content').removeClass('d-none');
                $('#lt_limit').prop('required', true)
            } else {
                $('#lt_limit_character_content').addClass('d-none');
                $('#lt_limit').prop('required', false)
            }
        })
        // PC
        $('.pc_label').enterKey(addPictureChoice)
        // OS
        $('#os_show_labels_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#os_show_labels_content').removeClass('d-none');
                $('#os_left_label').prop('required', true)
                $('#os_center_label').prop('required', true)
                $('#os_right_label').prop('required', true)
            } else {
                $('#os_show_labels_content').addClass('d-none');
                $('#os_left_label').prop('required', false)
                $('#os_center_label').prop('required', false)
                $('#os_right_label').prop('required', false)
            }
        })
        // N_
        $('#n_enable_min_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#n_enable_min_content').removeClass('d-none');
                $('#n_min_value').prop('required', true)
            } else {
                $('#n_enable_min_content').addClass('d-none');
                $('#n_min_value').prop('required', false)
            }
        })
        $('#n_enable_max_switch').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#n_enable_max_content').removeClass('d-none');
                $('#n_max_value').prop('required', true)
            } else {
                $('#n_enable_max_content').addClass('d-none');
                $('#n_max_value').prop('required', false)
            }
        })
        // DD
        $('.dd_choice').enterKey(addChoice)
        $('#dd_randomize').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#dd_alphabetical').prop('disabled', true)
            } else {
                $('#dd_alphabetical').prop('disabled', false)
            }
        })
        $('#dd_alphabetical').change(function (evt) {
            if ($(this).prop('checked')) {
                $('#dd_randomize').prop('disabled', true)
            } else {
                $('#dd_randomize').prop('disabled', false)
            }

        })
        // PN
        if ($('#country-code').length == 1) {
            new CountryCode($('#country-code'))
        }
    })

    $(function () {
        // video_search
        $('#video_search_query').enterKey(function(evt) {
            search_videos($(this).val(), 1, 9)
        })
    })  

    function search_videos(term, page, per_page) {
        $('#video_search_results').empty()
        $('#video_search_paging').addClass('d-none')
        $('#video_search_prev').off()
        $('#video_search_next').off()
        $.get("{% url 'formsaurus_manage:pexels_search' %}?per_page=" + per_page + "&page=" + page + "&q=" + term, function (data) {
            console.log(data)
            $('#video_search_paging').removeClass('d-none')
            $('#video_search_prev').click(function (evt) {
                if (page > 1) {
                    search_videos(term, page - 1, per_page)
                }
            })
            $('#video_search_next').click(function (evt) {
                if (page < data.total_pages - 1) {
                    search_videos(term, page + 1, per_page)
                }
            })

            data.videos.forEach(function (result) {
                img = $('<div/>').addClass('img-thumbnail m-1').attr('style', 'width: 240px; height: 150px; background-image: url("' + result.image + '"); background-position: center; background-repeat: no-repeat; background-size: cover;')
                a = $('<a/>').attr('href', '#')

                a.click(function (evt) {
                    $('#video_url').val(result.video_files[0].link)
                    $('#videoModal').modal('hide')
                })
                a.append(img)
                $('#video_search_results').append(a)
            })
        })
    }

    function addChoice(evt) {
        evt.preventDefault();
        addChoiceImpl($(this))
    }

    function addChoiceImpl(origin) {
        // Find the last letter
        var last_letter = origin.parents('fieldset').find(':input[type="text"]').last().attr('data-letter')
        console.log(last_letter)
        var next_letter = String.fromCharCode(last_letter.charCodeAt(0)+1)

        var container = $('<div>').addClass('input-group mb-3').appendTo(origin.parent().parent())
        var prepend = $('<div>').addClass('input-group-prepend').appendTo(container)
        $('<span>').addClass('input-group-text').text(next_letter + '.').appendTo(prepend)

        var input = $('<input/>').attr('type', 'text').attr('name', 'choice').attr('data-letter', next_letter).addClass('form-control mc-choice').attr('placeholder', 'Choice..').appendTo(container)
        input.enterKey(addChoice)
        input.focus();

        var append = $('<div>').addClass('input-group-append').appendTo(container)
        var span = $('<span>').addClass('input-group-text').appendTo(append)
        span.click(clearChoice)
        $('<i>').addClass('fas fa-times').appendTo(span) 
        return false;
    }

    function clearChoice(evt) {
        evt.preventDefault()
        var input = $(this).parent().parent().find(':input')
        if (input.val() == "") {
            var container = input.parent().parent()
            input.parent().remove()
            // Re-letter everything!
            $.each(container.find('input[type="text"]'), function(index, elt) {
                var elt = $(elt)
                var next_letter = String.fromCharCode('A'.charCodeAt(0)+index)
                console.log(next_letter, elt)
                elt.attr('data-letter', next_letter)
                elt.parent().find('.input-group-prepend').find('.input-group-text').text(next_letter +'.')
            })
            return
        }
        input.val('')
        console.log('clear', $(this))
    }

    function addPictureChoice(evt) {
        var d = $('<div/>').addClass('form-group')
        // Choice
        var i1 = $('<input/>').attr('type', 'url').attr('name', 'choice').addClass('w-100').addClass('mb-2').addClass('title').addClass('pc_choice').attr('placeholder', 'https://unsplash.com/..')
        d.append(i1)
        var l = $('<label/>').attr('for', 'choice')
        var s = $('<small/>').addClass('text-muted').text('Choice ')
        l.append(s)
        d.append(l)
        s = $('<small/>').appendTo(d)
        $('<a/>').attr('href', '#').attr('data-toggle', 'modal').attr('data-target', '#imageModal').text('Search Images').appendTo(s).click(function(evt) {
            evt.preventDefault()
            modalOrigin = $(this)
        })

        // Label
        i2 = $('<input/>').attr('type', 'text').attr('name', 'label').addClass('w-100').addClass('mb-2').addClass('title').addClass('pc_label').attr('placeholder', 'Puppy')
        d.append(i2)
        i2.enterKey(addPictureChoice)
        l = $('<label/>').attr('for', 'choice')
        s = $('<small/>').addClass('text-muted').text('Choice')
        l.append(s)
        d.append(l)

        $(this).parent().parent().append(d)
        i1.focus();
        evt.preventDefault();
        return false;
    }
</script>

{% endblock %}