{% extends 'formsaurus/skeleton.html' %}
{% load formsaurus %}
{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                <a href="{% url 'formsaurus_manage:surveys' %}">&laquo;</a> {{ survey.name }}
                <a href="{% url 'formsaurus_manage:survey_edit' survey.id %}" class="ml-2"><small><i class="fas fa-edit"></i></small></a>
            </h4>
        </div>
        <div class="col-sm-1 pt-1 mr-3">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="publish_switch" {% if survey.published %}checked disabled{% endif %}>
                <label class="custom-control-label" for="publish_switch">{% if survey.published %}Published{% else %}Draft{% endif %}</label>
            </div>

        </div>
    </div>
    {% if survey.published %}
        <div class="row">
            <div class="col">
                <p class="text-muted"> 
                    <a href="{% url 'formsaurus:survey' survey.id %}" target="_blank">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'formsaurus:survey' survey.id %}</a>
                </p>
            </div>
        </div>
        <div class="row mb-3 no-gutters">
            <div class="col-4 border-r"><p class="text-lg text-center m-0"><a href="{% url 'formsaurus_manage:submissions' survey.id %}">{{ submissions.count }}</a></p><p class="mt-0 mb-0 text-sm text-upper text-center">Answers</p></div>
            <div class="col-4 border-r pl-3"><p class="text-lg text-center m-0">{{ submissions.completed }}</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completed</p></div>
            <div class="col-4 pl-3"><p class="text-lg m-0 text-center">{{ submissions.ratio }}%</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completion Rate</p></div>
        </div>
    {% endif %}
    <div class="row mt-3">
        {% if not survey.published %}
        <div class="col-sm-2">
            <div class="row no-gutters">
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_add_hidden_field' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Field</a></div>
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_add_question' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Question</a></div>
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_preview' survey.id %}" class="btn btn-secondary btn-wide {% if survey.published %}disabled{% endif %}" target="_blank">Preview <i class="fas fa-external-link"></i></a></div>
                <div class="col-8 mb-2"><a href="{% url 'formsaurus_manage:survey_delete' survey.id %} " onclick="return confirm('Are you sure you want to delete form {{ survey.name }}?');" class="btn btn-danger btn-wide {% if survey.published %}disabled{% endif %}">Delete</a></div>
            </div>
        </div>
        {% endif %}
        <div class="col">
            {% if survey.hiddenfield_set.all %}
            <h2>Fields</h2>
            <table class="table">
                <tbody>
                    {% for field in survey.hiddenfield_set.all %}
                    <tr><td>{{ field.name }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No hidden fields in this form.</p>
            {% endif %}

            {% if survey.question_set.all %}
            <h2>Questions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Question</th>
                        <th>Required</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in survey.questions %}
                        <tr>
                            <td class="text-muted">{{ forloop.counter }}</td>
                            <td class="text-muted">{{ question.question_type|question_type_name }}</td>
                            <td>{{ question.question }}</td>
                            <td>
                                {% if question.question_type != 'WS' and question.question_type != 'TS' and question.question_type != 'S_' %}
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" disabled id="show_image_switch" {% if question.required %}checked{% endif %}>
                                    <label class="custom-control-label" for="show_image_switch"></label>
                                </div>                
                                {% endif %}
                            </td>
                            <td>
                                {% if survey.published %}
                                {% else %}
                                <div class="d-block d-sm-none">
                                    <div class="dropdown dropleft">
                                        <a href="#" id="menu-{{ invoice.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</a>
                                        <div class="dropdown-menu" aria-labelledby="menu-{{ invoice.id }}">
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:survey_edit_question' survey.id question.id %}">Edit</a>
                                            <a class="dropdown-item text-danger" href="{% url 'formsaurus_manage:delete_question' survey.id question.id %}" onclick="return confirm('Are you sure you want to delete {{ question.question }}?');">Delete</a>
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:question_up' survey.id question.id %}">Move Up</a>
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:question_down' survey.id question.id %}">Move Down</a>
                                            {% if question.question_type != 'WS' and question.question_type != 'TS' and question.question_type != 'S_' %}
                                            <a class="dropdown-item" href="{% url 'formsaurus_manage:question_logic' survey.id question.id %}">Edit Logic</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none d-sm-block">
                                    <a href="{% url 'formsaurus_manage:survey_edit_question' survey.id question.id %}"><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'formsaurus_manage:delete_question' survey.id question.id %}" onclick="return confirm('Are you sure you want to delete {{ question.question }}?');"><i class="fas fa-trash"></i></a>
                                    <a href="{% url 'formsaurus_manage:question_up' survey.id question.id %}"><i class="fas fa-angle-up"></i></a>
                                    <a href="{% url 'formsaurus_manage:question_down' survey.id question.id %}"><i class="fas fa-angle-down"></i></a>
                                    {% if question.question_type != 'WS' and question.question_type != 'TS' and question.question_type != 'S_' %}
                                    <a href="{% url 'formsaurus_manage:question_logic' survey.id question.id %}"><i class="fas fa-code-branch"></i></a>
                                    {% endif %}
                                </div>  
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No questions in this form.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
    $('#publish_switch').change(function(evt) {
        if ($(this).prop('checked')) {
            window.location.href = "{% url 'formsaurus_manage:survey_publish' survey.id %}"
        }
    })
})
</script>
{% endblock %}