{% extends 'formsaurus/skeleton.html' %}
{% load formsaurus %}
{% block content %}
{% include 'formsaurus/manage/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><a href="{% url 'formsaurus_manage:surveys' %}">&laquo;</a> {{ survey.name }}</h1>
        </div>
        <div class="col-1 pt-4">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="publish_switch" {% if survey.published %}checked disabled{% endif %}>
                <label class="custom-control-label" for="publish_switch">Published</label>
            </div>                

        </div>
    </div>
    {% if survey.published %}
        <div class="row mb-3 no-gutters">
            <div class="col-4 border-r"><p class="text-lg text-center m-0"><a href="{% url 'formsaurus_manage:submissions' survey.id %}">{{ submissions.count }}</a></p><p class="mt-0 mb-0 text-sm text-upper text-center">Answers</p></div>
            <div class="col-4 border-r pl-3"><p class="text-lg text-center m-0">{{ submissions.completed }}</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completed</p></div>
            <div class="col-4 pl-3"><p class="text-lg m-0 text-center">{{ submissions.ratio }}%</p><p class="mt-0 mb-0 text-sm text-upper text-center">Completion Rate</p></div>
        </div>
    {% endif %}
    <div class="row mt-5">
        {% if not survey.published %}
        <div class="col-sm-2">   
                <p><a href="{% url 'formsaurus_manage:survey_add_hidden_field' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Hidden Field</a></p>
                <p><a href="{% url 'formsaurus_manage:survey_add_question' survey.id %}" class="btn btn-primary btn-wide {% if survey.published %}disabled{% endif %}">Add Question</a></p>
                <p><a href="{% url 'formsaurus_manage:survey_delete' survey.id %} " class="btn btn-danger btn-wide {% if survey.published %}disabled{% endif %}">Delete</a></p>
        </div>
        {% endif %}
        <div class="col">
            {% if survey.hiddenfield_set.all %}
            <h2>Fields</h2>
            <table class="table">
                <tbody>
                    {% for field in survey.hiddenfield_set.all %}
                    <tr><td>{{ field.name }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No hidden fields in this form.</p>
            {% endif %}

            {% if survey.question_set.all %}
            <h2>Questions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Question</th>
                        <th>Required</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in survey.question_set.all %}
                        <tr>
                            <td class="text-muted">{{ forloop.counter }}</td>
                            <td class="text-muted">{{ question.question_type|question_type_name }}</td>
                            <td>{{ question.question }}</td>
                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" disabled id="show_image_switch" {% if question.required %}checked{% endif %}>
                                    <label class="custom-control-label" for="show_image_switch"></label>
                                </div>                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-muted">No questions in this form.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
    $('#publish_switch').change(function(evt) {
        if ($(this).prop('checked')) {
            window.location.href = "{% url 'formsaurus_manage:survey_publish' survey.id %}"
        }
    })
})
</script>
{% endblock %}