<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                    aria-describedby="basic-addon1" id="video_search_query">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-unsplash"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="video_search_results"></div>
                    <div class="row d-none" id="video_search_paging">
                        <div class="col">
                            <button class="btn" id="video_search_prev">&laquo;</button>
                            <button class="btn" id="video_search_next">&raquo;</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>