{% load formsaurus %}
<main class="container">
    <div class="row">
        <div class="col">
            <div class="vertical-center">
                <form method="POST" class="w-100" action="{% url 'formsaurus:question' survey.id question.id submission.id %}" id="question-form" {% if question.type == 'FU' %}enctype="multipart/form-data"{% endif %}>
                <div class="mb-4">
                    {% block header %}
                        {% if question.parameters.image_url %}
                            <img src="{{ question.parameters.image_url }}" class="img-fluid mb-4" style="max-height: 30vh;">
                        {% elif question.parameters.video_url %}
                            {{ question.parameters.video_url|embed }}
                        {% endif %}
                        <h2 class="mb-0">
                            {% if question.parameters.show_quotation_mark %}
                            <i class="fas fa-quote-right fa-2x mr-2"></i>
                            {% endif %}
                            {{question.question}}
                        </h2>
                        {% if question.description %}
                            <p class="text-secondary">{{question.description}}</p>
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="mb-3">{% block input %}{% endblock %}</div>
                <div>
                    {% block button %}
                        <button type="submit" class="btn btn-primary">Next</button>
                    {% endblock %}
                </div>
                </form>
            </div> <!-- vertical-center -->
        </div> <!-- col -->
    </div> <!-- row -->
</main> <!-- container -->