{% load formsaurus %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="vertical-center">
                <form method="POST" class="w-100 p-5" action="{% url 'formsaurus:question' survey.id question.id submission.id %}" id="question-form" {% if question.type == 'FU' %}enctype="multipart/form-data"{% endif %}>
                    {% csrf_token %}
                    <div class="mb-4">
                        <h2 class="mb-0">
                            {% if question.parameters.show_quotation_mark %}
                            <i class="fas fa-quote-right fa-2x mr-2"></i>
                            {% endif %}
                            {{question.question}}
                        </h2>
                        {% if question.description %}
                            <p class="text-secondary">{{question.description}}</p>
                        {% endif %}
                    </div>

                    <div class="">

                        {% block input %}
                        {% endblock %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="vertical-center">
                {% if question.parameters.image_url %}
                    <img src="{{ question.parameters.image_url }}" class="img-fluid" style="max-width: 40vw;">
                {% elif question.parameters.video_url %}
                    {{ question.parameters.video_url|embed }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
