{% load formsaurus %}
<main class="container">
    <div class="row">
        <div class="col">
            <div class="vertical-center">
                <form method="POST" class="w-100"
                    action="{% url 'formsaurus:question' survey.id question.id submission.id %}" id="question-form"
                    {% if question.type == 'FU' %}enctype="multipart/form-data" {% endif %}>
                    <div class="mb-4">
                        {% block header %}
                        <h2 class="mb-0">
                            {% if question.parameters.show_quotation_mark %}
                            <i class="fas fa-quote-right fa-2x mr-2"></i>
                            {% endif %}
                            {{question.question}}
                        </h2>
                        {% if question.description %}
                        <p class="text-secondary">{{question.description}}</p>
                        {% endif %}
                        {% endblock %}
                    </div>
                    <div class="mb-3">{% block input %}{% endblock %}</div>
                    <div>
                        {% block button %}
                        <button type="submit" class="btn btn-primary">Next</button>
                        {% endblock %}
                    </div>
                </form>
            </div> <!-- vertical-center -->
        </div> <!-- col -->
    </div> <!-- row -->
</main> <!-- container -->
<div style="position: absolute; z-index: -10; top: 0px; right: 0px; bottom: 0px; left: 0;">
    {% if question.parameters.image_url %}
        <img src="{{ question.parameters.image_url }}" style="margin: 0 auto; width: 100%; height: 100%; object-fit: cover; object-position: {{ question.parameters.position_x}}% {{ question.parameters.position_y }}%; opacity: {{ question.parameters.opacity }}%;">
    {% elif question.parameters.video_url %}
    {{ question.parameters.video_url|embed }}
    {% endif %}
</div>