{% extends question_base %}

{% block input %}
<div class="mb-2">
    <button type="submit" data-keycode="49" class="choice choice-unselected single-choice text-left" name="answer" value="accept">1. I accept</button>
</div>
<div>
    <button type="submit" data-keycode="50" class="choice choice-unselected single-choice text-left" name="answer" value="no_accept">2. I don't accept</button>
</div>
{% endblock %}

{% block button %}
{% if not question.required %}
    {{ block.super }}
{% endif %}
{% endblock %}