{% extends question_base %}

{% block input %}
{% if question.required %}
<input type="hidden" name="filled" required>
{% endif %}
    {% for choice in question.choices %}
        <div class="mb-1">
            <div data-value="{{ choice.id }}" data-keycode="{{ choice.keycode }}" data-letter="{{ choice.letter }}" class="text-left choice choice-unselected btn-wide {% if not choice.id %}other{% endif %} {% if question.parameters.multiple_selection %}multiple{% endif %}">{{ choice.letter }}. {{ choice.choice }}</div>
        </div>
    {% endfor %}
{% endblock %}

{% block button %}
{% if not question.required or question.parameters.multiple_selection %}
{{ block.super }}
{% endif %}

{% if question.parameters.multiple_selection %}
<p class="m-0 text-muted"><small>You can select more than one.</small></p>
{% endif %}

{% endblock %}