{% extends question_base %}
{% load formsaurus %}

{% block input %}
{% if question.parameters.supersize %}
    {% setvar "29vw" as wh %}
{% else %}
    {% setvar "18vw" as wh %}
{% endif %}
<div class="clearfix mb-4">
    {% for choice in question.choices %}
        <div class="mb-4 float-left mr-3">
            <div data-keycode="{{ choice.keycode }}" data-letter="{{ choice.letter }}" class="choice choice-unselected {% if not choice.id %}other{% endif %} {% if question.parameters.multiple_selection %}multiple{% else %}single-choice{% endif %}" data-value="{{ choice.id }}">
            {% if choice.id %}
                <!-- Picture Choice {{ choice.choice }} -->
                <div style="width: {{ wh }}; height: {{ wh }};">
                    <img src="{{ choice.image_url }}" class="img-fluid" style="max-height: 100%; border: 1px solid #dee2e6;">
                </div>
                {% if question.parameters.show_labels %}
                    <p>{{ choice.letter }}. {{ choice.choice }}</p>
                {% else %}
                    <p>{{ choice.letter }}</p>
                {% endif %}
            {% else %}
                <!-- Picture Choice Other -->
                <div style="width: {{ wh }}; height: {{ wh }}; padding-top: 5vh;"><i class="fas fa-pencil" style="font-size: 5vh;"></i></div>
                <p>{{ choice.letter }}. {{ choice.choice }}</p>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block button %}
{% if not question.required or question.parameters.multiple_selection %}
{{ block.super }}
{% endif %}

{% if question.parameters.multiple_selection %}
<p class="m-0 text-muted"><small>You can select more than one.</small></p>
{% endif %}
{% endblock %}