{% extends question_base %}


{% block input %}
<div class="clearfix mb-4">
    {% for choice in question.choices %}
        <div class="mb-1 float-left mr-3" style="height: 185px;">
            {% if question.parameters.multiple_selection %}
            <a href="#" data-keycode="{{ choice.keycode }}" data-letter="{{ choice.letter }}" class="btn btn-outline-primary choice {% if not choice.id %}other{% endif %}" data-value="{{ choice.id }}">
            {% else %}
            <button type="submit" data-keycode="{{ choice.keycode }}" data-letter="{{ choice.letter }}" class="btn btn-outline-primary choice {% if not choice.id %}other{% endif %}" name="answer" value="{{ choice.id }}">
            {% endif %}
                {% if choice.id %}
                <div style="width: 200px; height: 150px; background-image: url({{ choice.image_url }}); background-size: 200px; background-repeat: no-repeat;"></div>
                {% if question.parameters.show_labels %}
                    <p>{{ choice.letter }}. {{ choice.choice }}</p>
                {% else %}
                    <p>{{ choice.letter }}</p>
                {% endif %}
                {% else %}
                    <div style="width: 200px; height: 150px;" class="pt-5"><i class="fas fa-pencil" style="font-size: 48px;"></i></div>
                    <p>{{ choice.letter }}. {{ choice.choice }}</p>                
                {% endif %}
            {% if question.parameters.multiple_selection %}
            </a>        
            {% else %}
            </button>
            {% endif %}

        </div>
    {% endfor %}
</div>
{% endblock %}

{% block button %}
{% if not question.required or question.parameters.multiple_selection %}
{{ block.super }}
{% endif %}

{% if question.parameters.multiple_selection %}
<p class="m-0 text-muted"><small>You can select more than one.</small></p>
{% endif %}
{% endblock %}