{% extends "formsaurus/skeleton.html" %}

{% block content %}
<div class="vertical-center">
    <main class="container">
        <div class="row">
            <div class="col">
                
                <h1 class="display-1">Survey Completed</h1>
                <p class="lead">You can create your own forms on <a href="/">formsaurus.com</a>.</p>
                <p><a href="{% url 'formsaurus_manage:manage' %}'" class="btn-lg btn-primary btn-wide ">Get Started</a></p>
                    
                {% if submission.is_preview %}
                    <p class="m-0">
                        <a href="{% url 'formsaurus_manage:survey_wizard' survey.id %}" class="text-muted">Back to Edit Survey</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </main>
</div>
{% endblock %}