{% extends "formsaurus/skeleton.html" %}
{% load static %}

{% block content %}
    {% if question.type == 'WS' %}
        {% include 'formsaurus/templates/welcome_screen.html' %}
    {% elif question.type == 'MC' %}
        {% include 'formsaurus/templates/multiple_choice.html' %}
    {% elif question.type == 'TS' %}
        {% include 'formsaurus/templates/thank_you_screen.html' %}
    {% elif question.type == 'PN' %}
        {% include 'formsaurus/templates/phone_number.html' %}
    {% elif question.type == 'ST' %}
        {% include 'formsaurus/templates/short_text.html' %}
    {% elif question.type == 'LT' %}
        {% include 'formsaurus/templates/long_text.html' %}
    {% elif question.type == 'S_' %}
        {% include 'formsaurus/templates/statement.html' %}
    {% elif question.type == 'PC' %}
        {% include 'formsaurus/templates/picture_choice.html' %}
    {% elif question.type == 'YN' %}
        {% include 'formsaurus/templates/yes_no.html' %}
    {% elif question.type == 'E_' %}
        {% include 'formsaurus/templates/email.html' %}
    {% elif question.type == 'OS' %}
        {% include 'formsaurus/templates/opinion_scale.html' %}
    {% elif question.type == 'R_' %}
        {% include 'formsaurus/templates/rating.html' %}
    {% elif question.type == 'D_' %}
        {% include 'formsaurus/templates/date.html' %}
    {% elif question.type == 'N_' %}
        {% include 'formsaurus/templates/number.html' %}
    {% elif question.type == 'DD' %}
        {% include 'formsaurus/templates/dropdown.html' %}
    {% elif question.type == 'L_' %}
        {% include 'formsaurus/templates/legal.html' %}
    {% elif question.type == 'W_' %}
        {% include 'formsaurus/templates/website.html' %}
    {% elif question.type == 'FU' %}
        {% include 'formsaurus/templates/file_upload.html' %}
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'intl-tel-input/js/intlTelInput-jquery.min.js' %}"></script>
<script>
function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
        console.log(e.target)
        console.log(input.files[0])
        var preview = $('<div>')
        if (input.files[0].type.startsWith('image')) {
            $('<img width="200" src="' + e.target.result + '" />').appendTo(preview)

        } else {
            $('<i class="far fa-file"></i>').appendTo(preview)
        }
        $('<p>' + input.files[0].name + '</p>').appendTo(preview)
        $('<a>').attr('href', '#').text('Clear').appendTo(preview).click(function(evt) {
            evt.preventDefault()
            $('#question-form')[0].reset()
            $('.preview-zone').empty().addClass('d-none')
            $('.dropzone-wrapper').removeClass('d-none')
            var form = $('#question-form')
            if (form.hasClass('question-required')) {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        })
        $('.preview-zone').removeClass('d-none').append(preview)
        $('.dropzone-wrapper').addClass('d-none')
    };

    reader.readAsDataURL(input.files[0]);
  }
}

$.fn.enterKey = function (fnc) {
    return this.each(function () {
        $(this).keypress(function (ev) {
            var keycode = (ev.keyCode ? ev.keyCode : ev.which);
            if (keycode == '13') {
                fnc.call(this, ev);
            }
        })
    })
}

$(function() {
    var form = $('#question-form')

    function do_submit() {
        // Make sure all required fields are filled up
        var completed = true
        $.each(form.find(':input[required]'), function(index, input) {
            input = $(input)
            if (input.val() == "") {
                console.log('Missing required', input)
                completed = false
                return
            }
            console.log(input.val())
        })
        if (completed) {
            form.submit()
        }
    }

    $(document).enterKey(function(evt) {
        console.log('Global Enter', evt)
        if ($(evt.target).is(':input')) {
            return
        }
        do_submit();
    })

    // Multiple choice
    var choice_keymap = {}
    $.each($('.choice'), function(index, elt) {
        elt = $(elt)
        choice_keymap[elt.attr('data-keycode')] = elt
    })

    function toggle_choice(choice) {
        console.log('Toggle choice', choice)
        var choice_value = choice.attr('data-value');
        var other = choice.hasClass('other')
        console.log('\tChoice Value', choice_value)
        console.log('\tOther', other)

        if (other) {
            if (choice.hasClass('d-none')) {
                choice.removeClass('d-none')
                choice.next().remove()
            } else {
                // Create input[type="text"] prepend letter, append clear
                var group = $('<div>').addClass('input-group').appendTo(choice.parent())
                var prepend = $('<div>').addClass('input-group-prepend').appendTo(group)
                $('<span>').addClass('input-group-text').text(choice.attr('data-letter')+'. ').appendTo(prepend)
                var input = $('<input>').attr('type', 'text').attr('name', 'answer').addClass('form-control').appendTo(group)
                // When pressing enter, either submit when single selection or blur field
                input.enterKey(function(evt) {
                    if (!choice.hasClass('multiple')) {
                        evt.preventDefault()
                        input.blur()
                    } else {
                        evt.preventDefault()
                        do_submit()
                    }
                })
                // Monitor for Esc on input field
                input.keydown(function(evt) {
                    var keycode = (evt.keyCode ? evt.keyCode : evt.which);
                    console.log('Other ' + keycode)
                    if (keycode == 27) {
                        $(this).blur()
                    }
                })
                // If losing focus without value, show button again
                input.blur(function(evt) {
                    if ($(this).val() == "") {
                        toggle_choice(choice)
                    }
                })
                // Append; clear button
                var append = $('<div>').addClass('input-group-append').appendTo(group)
                var button = $('<button>').addClass('btn btn-outline-secondary').appendTo(append)
                button.click(function(evt) {
                    console.log('Other button clicked, toggle choice', choice)
                    evt.preventDefault()
                    toggle_choice(choice)
                })
                $('<i>').addClass('fas fa-times').appendTo(button)
                // Hide 'Other' button
                choice.addClass('d-none')
                // Give focus to input
                input.focus()
            }
        }
        if (choice.hasClass('choice-unselected')) {
            choice.addClass('choice-selected').removeClass('choice-unselected')
        } else {
            choice.removeClass('choice-selected').addClass('choice-unselected')
        }

        // Multiple selection, need to handle the input
        if (choice.hasClass('choice-selected')) {
            $('<input>').attr('name', 'answer').attr('type', 'hidden').val(choice_value).appendTo(choice.parent())
        } else {
            choice.next().remove()
        }
        if (form.hasClass('question-required')) {
            var answers = form.find('input[name="answer"]')
            if (answers.length > 0) {
                console.log('Answers', answers)
                if (answers.length == 1 && $(answers[0]).val() == '') {
                    form.find('input[name="filled"]').val('')
                    $('.question-form-submit').addClass('disabled')
                } else {
                    form.find('input[name="filled"]').val(true)
                    $('.question-form-submit').removeClass('disabled')
                }
            } else {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        }

        // button is used for single selection
        if (choice.hasClass('single-choice') && choice_value != undefined && choice_value != '') {
            form.find('input[name="filled"]').val(true)
            do_submit()
        }
    }

    $('.choice').click(function(evt) {
        console.log('choice clicked, toggle', $(this))
        evt.preventDefault()
        toggle_choice($(this))
        // To make sure 'Enter' works for the form, make sure the button/link is not focused
        // after being clicked.
        $(this).blur()
    })

    // Opinion
    $('.opinion').hover(function() {
        // In
        var opinion = $(this).val()
        console.log(opinion)
        $.each($('.opinion'), function(index, elt) {
            elt = $(elt)
            if (index < opinion) {
                elt.removeClass('btn-outline-primary').addClass('btn-primary')
            } else if (index > opinion) {
                elt.addClass('btn-outline-primary').removeClass('btn-primary')
            }
        })
    }, function() {
        // Out
        $.each($('.opinion'), function(index, elt) {
            elt = $(elt)
            elt.addClass('btn-outline-primary').removeClass('btn-primary')
        })
    })

    $(document).keypress(function(evt) {
        var keycode = (evt.keyCode ? evt.keyCode : evt.which)
        console.log('Keypress ' + keycode, evt)

        if (keycode in choice_keymap && evt.target == document.body) {
            console.log('Keypress -> choice toggle', choice_keymap[keycode])
            evt.preventDefault()
            toggle_choice(choice_keymap[keycode])
        }
    })

    // Grow textarea dynamically
    form.find('textarea').keyup(function() {
        this.style.height = '1px';
        this.style.height = (this.scrollHeight)+"px";

        if (form.hasClass('question-required')) {
            if ($(this).val() != "") {
                form.find('input[name="filled"]').val(true)
                $('.question-form-submit').removeClass('disabled')
            } else {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        }

    })
    form.find('textarea').keydown(function(evt) {
        var keycode = (evt.keyCode ? evt.keyCode : evt.which);
        console.log('Other ' + keycode)
        if (keycode == 27) {
            $(this).blur()
        }
    })

    // Use Pikaday for input[type="date"]
    var date = $('.datepicker')
    if (date.length > 0) {
        date = date[0]
        var format = $(date).attr('data-format')
        new Pikaday({
                field: date,
                format: format,
                onSelect: function() {
                    console.log(this.getMoment().format(format));
                    if (form.hasClass('question-required')) {
                        if ($(date).val() != "") {
                            form.find('input[name="filled"]').val(true)
                            $('.question-form-submit').removeClass('disabled')
                        } else {
                            form.find('input[name="filled"]').val('')
                            $('.question-form-submit').addClass('disabled')
                        }
                    }
                }
            });
    }

    // Use select2 for dropdown
    $('.dropdown').select2({
        allowClear: true,
        placeholder: 'Select an option',
    });
    $('.dropdown').change(function(evt) {
        if (form.hasClass('question-required')) {
            if ($(this).val() != "") {
                form.find('input[name="filled"]').val(true)
                $('.question-form-submit').removeClass('disabled')
                do_submit()
            } else {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        }

    })

    // Drag & Drop for file upload
    $('.dropzone').change(function() {
        readFile(this)
        console.log('File Upload', $(this).val())
        if (form.hasClass('question-required')) {
            if ($(this).val() != "") {
                form.find('input[name="filled"]').val(true)
                $('.question-form-submit').removeClass('disabled')
            } else {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        }

    });

    $('.dropzone-wrapper').on('dragover', function(e) {
        e.preventDefault()
        e.stopPropagation()
        $(this).addClass('dragover')
    });

    $('.dropzone-wrapper').on('dragleave', function(e) {
        e.preventDefault()
        e.stopPropagation()
        $(this).removeClass('dragover')
    });

    $(':input.short-text, :input.email, :input.datepicker, :input.number, :input.website').keyup(function(evt) {
        console.log('short-text', $(this).val())
        if (form.hasClass('question-required')) {
            if ($(this).val() != "") {
                form.find('input[name="filled"]').val(true)
                $('.question-form-submit').removeClass('disabled')
            } else {
                form.find('input[name="filled"]').val('')
                $('.question-form-submit').addClass('disabled')
            }
        }
    })

    // Phone Number
    $.each($(':input[type="tel"]'), function(index, input) {
        var initial = $(input).attr('data-code');
        $(input).keyup(function(evt) {
            if (form.hasClass('question-required')) {
                if ($(input).val() != "") {
                    form.find('input[name="filled"]').val(true)
                    $('.question-form-submit').removeClass('disabled')
                } else {
                    form.find('input[name="filled"]').val('')
                    $('.question-form-submit').addClass('disabled')
                }
            }
        })
        $(input).intlTelInput({
            separateDialCode: true,
            preferredCountries: ['US', 'CA'],
            initialCountry: initial,
            utilsScript: "{% static 'intl-tel-input/js/utils.js' %}",
            formatOnDisplay: true,
            nationalMode: true,
            hiddenInput: 'answer',
        }).focus()
    })
});
</script>

{% endblock %}