{% extends "formsaurus/skeleton.html" %}
{% load static %}

{% block content %}
    {% if question.type == 'WS' %}
        {% include 'formsaurus/templates/welcome_screen.html' %}
    {% elif question.type == 'MC' %}
        {% include 'formsaurus/templates/multiple_choice.html' %}
    {% elif question.type == 'TS' %}
        {% include 'formsaurus/templates/thank_you_screen.html' %}
    {% elif question.type == 'PN' %}
        {% include 'formsaurus/templates/phone_number.html' %}
    {% elif question.type == 'ST' %}
        {% include 'formsaurus/templates/short_text.html' %}
    {% elif question.type == 'LT' %}
        {% include 'formsaurus/templates/long_text.html' %}
    {% elif question.type == 'S_' %}
        {% include 'formsaurus/templates/statement.html' %}
    {% elif question.type == 'PC' %}
        {% include 'formsaurus/templates/picture_choice.html' %}
    {% elif question.type == 'YN' %}
        {% include 'formsaurus/templates/yes_no.html' %}
    {% elif question.type == 'E_' %}
        {% include 'formsaurus/templates/email.html' %}
    {% elif question.type == 'OS' %}
        {% include 'formsaurus/templates/opinion_scale.html' %}
    {% elif question.type == 'R_' %}
        {% include 'formsaurus/templates/rating.html' %}
    {% elif question.type == 'D_' %}
        {% include 'formsaurus/templates/date.html' %}
    {% elif question.type == 'N_' %}
        {% include 'formsaurus/templates/number.html' %}
    {% elif question.type == 'DD' %}
        {% include 'formsaurus/templates/dropdown.html' %}
    {% elif question.type == 'L_' %}
        {% include 'formsaurus/templates/legal.html' %}
    {% elif question.type == 'W_' %}
        {% include 'formsaurus/templates/website.html' %}
    {% elif question.type == 'FU' %}
        {% include 'formsaurus/templates/file_upload.html' %}
    {% endif %}
{% endblock %}

{% block javascript %}
<script>
function readFile(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
        console.log(e.target)
        console.log(input.files[0])
        var preview = $('<div>')
        if (input.files[0].type.startsWith('image')) {
            $('<img width="200" src="' + e.target.result + '" />').appendTo(preview)
                
        } else {
            $('<i class="far fa-file"></i>').appendTo(preview)
        }
        $('<p>' + input.files[0].name + '</p>').appendTo(preview)
        $('<a>').attr('href', '#').text('Clear').appendTo(preview).click(function(evt) {
            evt.preventDefault()
            $('#question-form')[0].reset()
            $('.preview-zone').empty().addClass('d-none')
            $('.dropzone-wrapper').removeClass('d-none')
        })
        $('.preview-zone').removeClass('d-none').append(preview)
        $('.dropzone-wrapper').addClass('d-none')
    };

    reader.readAsDataURL(input.files[0]);
  }
}

$.fn.enterKey = function (fnc) {
    return this.each(function () {
        $(this).keypress(function (ev) {
            var keycode = (ev.keyCode ? ev.keyCode : ev.which);
            if (keycode == '13') {
                fnc.call(this, ev);
            }
        })
    })
}

$(function() {
    var form = $('#question-form')
    
    function do_submit() {
        // Make sure all required fields are filled up
        var completed = true
        $.each(form.find(':input[required]'), function(index, input) {
            input = $(input)
            if (input.val() == "") {
                console.log('Missing required')
                completed = false
                return
            }
            console.log(input.val())
        })
        if (completed && confirm('Submit')) {
            form.submit()
        }
    }

    // Global enter submits (FIXME probably not working on text area)
    $(document).enterKey(function(evt) {
        do_submit();
    })

    // Multiple choice
    var choice_keymap = {}
    $.each($('.choice'), function(index, elt) {
        elt = $(elt)
        choice_keymap[elt.attr('data-keycode')] = elt
    })
    function toggle_choice(choice) {
        console.log('Toggle choice', choice)
        var choice_value = choice.is('button') ? choice.val() : choice.attr('data-value');
        console.log('Choice Value', choice_value)

        if (choice.hasClass('btn-outline-primary')) {
            choice.addClass('btn-primary').removeClass('btn-outline-primary')
        } else {
            choice.removeClass('btn-primary').addClass('btn-outline-primary')
        }
        if (choice.is('button') && choice_value != undefined && choice_value != '') {
            do_submit()
        } else {
            // Multiple selection, need to handle the input
            if (choice.hasClass('btn-primary')) {
                $('<input>').attr('name', 'answer').attr('type', 'hidden').val(choice_value).appendTo(choice.parent())
            } else {
                choice.next().remove()
            }
            if (form.hasClass('question-required')) {
                if (form.find('input[name="answer"]').length > 0) {
                    form.find('input[name="filled"]').val(true)
                    $('.question-form-submit').removeClass('disabled')
                } else {
                    form.find('input[name="filled"]').val('')
                    $('.question-form-submit').addClass('disabled')
                }
            }

        }
    }
    // Opinion
    $('.opinion').hover(function() {
        // In
        var opinion = $(this).val()
        console.log(opinion)
        $.each($('.opinion'), function(index, elt) {
            elt = $(elt)
            if (index < opinion) {
                elt.removeClass('btn-outline-primary').addClass('btn-primary')
            } else if (index > opinion) {
                elt.addClass('btn-outline-primary').removeClass('btn-primary')
            }
        })
    }, function() {
        // Out
        $.each($('.opinion'), function(index, elt) {
            elt = $(elt)
            elt.addClass('btn-outline-primary').removeClass('btn-primary')
        })
    })

    $(document).keypress(function(evt) {
        var keycode = (evt.keyCode ? evt.keyCode : evt.which)
        console.log('Keycode', keycode)
        if (keycode in choice_keymap) {
            toggle_choice(choice_keymap[keycode])
        }
    })

    // Grow textarea dynamically
    form.find('textarea').keyup(function() {
        this.style.height = '1px';
        this.style.height = (this.scrollHeight)+"px";
    })

    // Use Pikaday for input[type="date"]
    var date = $('.datepicker')
    if (date.length > 0) {
        date = date[0]
        var format = $(date).attr('data-format')
        new Pikaday({
                field: date,
                format: format,
                onSelect: function() {
                    console.log(this.getMoment().format(format));
                }   
            });
    }

    // Use select2 for dropdown
    $('.dropdown').select2({
        allowClear: true,
        placeholder: 'Select an option',
    });

    // Drag & Drop for file upload
    $('.dropzone').change(function() {
        readFile(this)
    });

    $('.dropzone-wrapper').on('dragover', function(e) {
        e.preventDefault()
        e.stopPropagation()
        $(this).addClass('dragover')
    });

    $('.dropzone-wrapper').on('dragleave', function(e) {
        e.preventDefault()
        e.stopPropagation()
        $(this).removeClass('dragover')
    });
});
</script>

{% endblock %}